apiVersion: apps/v1
kind: Deployment
metadata:
  name: weather-service
spec:
  replicas: 3
  selector:
    matchLabels:
      app: weather-service
  template:
    metadata:
      labels:
        app: weather-service
    spec:
      containers:
        - name: app
          image: koqonut/weather-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 5001
          env:
            - name: OPEN_WEATHER_MAP_API_KEY
              valueFrom:
                secretKeyRef:
                  name: weather-api-credentials
                  key: apikey

---
apiVersion: v1
kind: Service
metadata:
  name: weather-service
spec:
  selector:
    app: weather-service
  ports:
    - port: 80
      targetPort: 5001
  type: LoadBalancer