eureka:
  client:
    enabled: false
    registerWithEureka: false
    fetchRegistry: false

server:
  port: 5001

spring:
  application:
    name: WEATHER-SERVICE

management:
  endpoint:
    health:
      enabled: true

OPEN_WEATHER_MAP_API_KEY : ${sm://OPEN_WEATHER_MAP_API_KEY}